input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;

}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#address{
    font-family:Times;
    color: rgb(80, 76, 76);
    font-size: 20px; 
   
}
.section-header
{
	text-align: center;
    color: white;
	font-family:Brush Script MT;
   font-style: oblique;
   font-size: 40px;
}
.aside-header
{
	
	font-family:Times;
	    color: white;
		font-size: 20px;
}
#past-section
{
	font-family:Times;
	 text-align: justify;
    letter-spacing: 2px;
	    color: white;
}
#future-section
{
font-family:Times;
	 text-align: justify;
    letter-spacing: 2px;
	    color: #ff0040;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body{
    background-image: url('bg1.jpg');
    color: rgb(100, 100, 100);
}
#image-circle
{
    width:350px;
     height:500px;
     padding-bottom:50px;
     margin-top: -50px;
	   float: left;
}

article
{		 text-indent: 5px;
    text-align: justify;
    letter-spacing: 2px;
	    color: #8000ff	;
font-family: FreeMono, monospace;
			
}

h2
{
	text-decoration: underline;
	font-family: Bradley Hand, cursive;
	    color: grey;
}
footer
{
text-align: center;
font-style: italic;
 background-color: lightblue;
 padding: 10px;
 font-size: 20px;
}